<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="task">
    <button name="AddButton" type="submit">Add Task</button>
</form>

<ul>
    {% for task in tasks %}

    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <li>{{ task }}</li>
        <button name="DeleteButton" type="submit" value="{{ task }}">Delete Task</button>
    </form>

    {% endfor %}

</ul>
</body>
</html>