<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'addTask' %}" method="post">
        {% csrf_token %}
        <h3>Add a new task</h3>
        Task Name
        <input name="taskName">
        Task Description
        <input name="taskDescription">
        Task Priority
        <input name="taskPriority">
        <button name="AddButton" type="submit">Add Task</button>
    </form>

    <br/>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Description</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.desc }}</td>
                <td>{{ task.state }}</td>
                <td>
                    <a href="{% url 'deleteTask' task.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>