<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'addTask' %}" method="post">
        {% csrf_token %}
        <h3>Add a new task</h3>
        Task Name
        <input name="taskName">
        Task Description
        <input name="taskDescription">
        Task Priority
        <input name="taskPriority">
        <button name="AddButton" type="submit">Add Task</button>
    </form>

    <br/>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <form action="{% url 'updateTask' task.id %}" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ task.id }}</td>
                <td><input name="name" value={{ task.name }}></td>
                <td><input name="desc" value={{ task.desc }}></td>
                <td><input name="priority" value={{ task.priority }}></td>
                <td>{{ task.state }}</td>
                <td>
                    <button><a href="{% url 'doneTask' task.id %}" style="text-decoration:none">Done</a></button>
                    <button><a href="{% url 'deleteTask' task.id %}" style="text-decoration:none">Delete</a></button>
                    <button name= UpdateButton type="submit">Update</button>
                </td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>